.bar {
    padding: 2px 0;
    background-color: #282c34;
    color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

ul {
    display:flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;

}

li{
    padding-right: 10px;
    border-right: #414855 .5px solid;

}

a{
    color:#ffbaba;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color:#ff5e5e;
}